#### Different Types of Data Structures

In [4]:
#Strings
#List
#Set
#Dictionary

#### List

In [2]:
# List are mutable (Can change the behaiour) ie, can append, delete,insert and replace in memory space
# List is presented with square braces []
# List can accept any data type
# List has its own methods

a = [10,30,23,34,'python','sql']
print(a[4])

python

In [4]:
print(a[-1])

sql

In [6]:
print(a[4][2])

t

In [13]:
print(a[::-1])

NameError: name 'a' is not defined

### List methods

In [6]:
l = ['gahan','gowda',5,15,2018] # Append
l.append("Jaya")
print(l)

['gahan', 'gowda', 5, 15, 2018, 'Jaya']

In [9]:
l = ['gahan','gowda',5,15,2018] # Insert
l.insert(1,'P')
print(l)

['gahan', 'P', 'gowda', 5, 15, 2018]

In [14]:
l[2] = 'gowdru' #Replace method
print(l)

['gahan', 'P', 'gowdru', 5, 15, 2018]

In [31]:
del l[1] #delete method
print(l)

['gahan', 15, 2018]

In [32]:
l.index(5,1,2)

ValueError: 5 is not in list

In [37]:
var = [10,20,60,20,100]
var.index(20,2,4)   #index

3

In [39]:
var.count(20) #count

2

In [41]:
var.pop(2) #pop

20

In [44]:
print(var)

[10, 20, 100]

In [46]:
var.remove(100) #remove
print(var)

ValueError: list.remove(x): x not in list

In [48]:
var.reverse() #reverse
print(var)

[10, 20]

In [53]:
var.append(97)
print(var)

[10, 20, 20, 97, 97, 97]

In [55]:
var.sort() #sort in ascending order
print(var)

[10, 20, 20, 97, 97, 97]

In [58]:
var.sort(reverse=True) #sort in descending order
print(var)

[97, 97, 97, 20, 20, 10]

### Math operations in strings

In [3]:
value1 = 'ab'
value2 = 'AB'

print(value1>value2)

True

In [1]:
ord('a')

97

In [9]:
chr(65)

'A'

In [11]:
a = [10,20,30.5,'python']
print(10 in a)
print(20 in a)

True
True

#### Spilt function in list

In [13]:
# Breaking into pieces

a = 'I am doing data science course and I am a data scienctist'
b = a.split('.')
print(b)
c = b[::-1]
d = ' '.join(c)
print(d)

['I am doing data science course and I am a data scienctist']
I am doing data science course and I am a data scienctist

In [17]:
a = 'I am doing data science course and I am a data scienctist' 
val1 = a.split()
val2 = val1[::-1]
print(val2)
val3 = val2[0:4]
val4 = ' '.join(val3)

print(val4)

['scienctist', 'data', 'a', 'am', 'I', 'and', 'course', 'science', 'data', 'doing', 'am', 'I']
scienctist data a am