In [1]:
print("We are learning Python")

We are learning Python

In [2]:
a = ["Python","SQL","Linux"]
for i in a:
    print(i)

Python
SQL
Linux

In [10]:
a = ["Python","SQL","Linux"]
    a[1]

IndentationError: unexpected indent (491119314.py, line 2)

In [4]:
print(a)

['Python', 'SQL', 'Linux']

In [11]:
a = ["python","C++","SQl"]
    a[0]

IndentationError: unexpected indent (2391682122.py, line 2)

In [12]:
a = ("python","sql","ubuntu")
    a[0]

IndentationError: unexpected indent (3088553056.py, line 2)

In [8]:
a = {"python","sql","linux"}
for i in a:
    print(i)

linux
python
sql

In [13]:
l = [1,2,3,4,5,6]
l

[1, 2, 3, 4, 5, 6]

In [14]:
l[4]

5

In [16]:
l = ["data", "science"]
l[1]

'science'

In [20]:
l = ["data", "science"]
l.append("python")
print(l)

['data', 'science', 'python']

In [22]:
l.remove("data")

ValueError: list.remove(x): x not in list

In [24]:
var[item] = “apple”
print(item)

SyntaxError: invalid character '“' (U+201C) (470764959.py, line 1)

In [27]:
a = ["cat", "window", "defenestrate"]
for x in a:
        print (x,len(x))

cat 3
window 6
defenestrate 12

In [5]:
a = {'Jaya':1000,'Guru':2000,'Gahan':5000}

for i,j in a.items():
    print(a[i])

1000
2000
5000

In [9]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for i in num:
    if i % 2 == 0:
       print(i)

2
4
6
8
10
12
14
16
18
20

In [14]:
a = 'data science'
c = ''
for i in a:
    if i not in 'aeiouAEIOU':
        c = c + i
print(c)

dt scnc

In [17]:
n = 28
sum = 0

for i in range(1,n):
    if n % i == 0:
        sum = sum + i

if sum == n:
    print("The number is a Perfect number")
else:
    print("The number is not a Perfect number")

The number is a Perfect number

In [32]:
     num_str = str(num)
    
    # Check if the string is the same forwards and backwards
    if num_str == num_str[::-1]:
        return True
    else:
        return False

# Test the function
num = int(input("Enter a number: ")):
if is_palindrome(num):
    print(num, "is a palindrome")
else:
    print(num, "is not a palindrome")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [1]:
a = 1

while a > 0:
    print(a)
    if a == 20:
        break
    a = a + 1
print("come out of the loop")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
come out of the loop

In [ ]:
# Print a given number is Palindrome or not

number = int(input("enter the number:"))
temp = number
count = 0
while number > 0:
    res = number % 10
    count = (count * 10) + res
    number = number // 10
    
if temp == count:
    print("A given number is palindrome")
else:
    print("A given number is not a palindrome")

In [9]:
num = 6
sum = 0
for i in range(1,num):
    if num % i == 0:
        sum = sum + i
if sum == num:
    print("The number is perfect")
else:
    print("The number is not perfect")

The number is perfect

In [1]:
input = 'jayalakshmi'

Output = {'j':1,'a':2}

In [3]:
def name1(na):
    count = 0
    for i in na:
        if i == i
            count = count + i

SyntaxError: incomplete input (3922707811.py, line 1)

In [4]:
name1('Jayalakshmi')

NameError: name 'name1' is not defined

In [6]:
for i in range(12,51):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

15
30
45

In [10]:
def excercise(name):
    dict = {}
    for i in name:
        if i in dict.keys():
            dict = dict + 1
        else:
            dict = 1
        return dict
    
name = 'Jayalakshmi'
result = excercise(name)
print(result)

1

NameError: name 'excercise' is not defined

In [12]:
sol = lambda p : p * P * P 
a = 5
sol(a)

NameError: name 'P' is not defined

In [14]:
sol = lambda X : X * X * X * X
a = 5
sol(a)

625

In [15]:
sol = lambda n:  for i in range(1,11)

SyntaxError: invalid syntax (1208450457.py, line 1)

In [1]:
num = 2
for i in :
    for j in range(1,11):
        print(i, '*', j, '=', i*j)

SyntaxError: invalid syntax (1941039158.py, line 2)

In [1]:
for i,j in range(10):
    a = i + j
    print(i,j,a)
    i = j
    j = a

TypeError: cannot unpack non-iterable int object

In [13]:
def fun(n):
    if n < 0:
        print("please enter the positive values")
    else:
        a = 0
        b = 1
        print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            print(c)

In [16]:
fun(3)

0
1
1

In [19]:
def fun(n):
    if n < 0:
        print("please enter the positive values")
    else:
        a = 0
        b = 1
        print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            if c < 100:
                a = b
                b = c
                print(c)
            else:
                print("Fib num extending more than 100 values")

In [21]:
fun(15)

0
1
1
2
3
5
8
13
21
34
55
89
Fib num extending more than 100 values
Fib num extending more than 100 values
Fib num extending more than 100 values