In [ ]:
I'm jayalakshmi
Im a Data scientist

In [ ]:
print("I'm a Data Scientist")

In [1]:
print("I'm a Data Scientist")

I'm a Data Scientist

In [1]:
age = 16
print(age)

16

In [1]:
12 = 13b
print(12)

SyntaxError: invalid decimal literal (838007775.py, line 1)

In [2]:
12 = 13
print(12)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1935454014.py, line 1)

In [3]:
a =150  # assigning a value and printing the value and the type of the value.
print(a)
print(type(a))

150
<class 'int'>

In [4]:
Variable name = 130 # space between 2 varibale name doesnt work throw an error
print(variable name)

SyntaxError: invalid syntax (4148695900.py, line 1)

In [5]:
Variable_Name = 130  # Assign the variable name with underscore
print(Variable_Name)

130

In [7]:
age = 26
print("my age is =",age) # to print the value with any sentences use , to concat the vale and other words.

my age is = 26

In [8]:
age = 26
print("my age is =" + age)

TypeError: can only concatenate str (not "int") to str

In [10]:
age = 26
print("my age is =" + int(age))

TypeError: can only concatenate str (not "int") to str

In [11]:
age = 26
print("my age is =" + str(age))

my age is =26

### We can convert the data types

In [13]:
age = 12
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

150
<class 'int'>
150.0
<class 'float'>

In [15]:
age = 140
print(age)
b = str(age)
print(b)
print(type(b))

140
140
<class 'str'>

#### Different ways to print the statements

In [17]:
name = 'jaya'
age = 25
dob = '17-dec-1998'
print("My details",age,name,dob)

My details 25 jaya 17-dec-1998

In [18]:
name = 'jaya'
age = 25
dob = '17-dec-1998'
print("My details" + str(name))
print(age)
print(dob)

My detailsjaya
25
17-dec-1998

In [4]:
name = 'jaya'
age = 25
dob = '17-dec-1998'
print("My name is %s and Iam %d years old and dob is %s"%(name,age,dob))

My name is jaya and Iam 25 years old and dob is 17-dec-1998

In [3]:
print(f"My name is {name} and I am {age} years old and dob is {dob}")

My name is jaya and I am 25 years old and dob is 17-dec-1998

In [4]:
name = 'jaya'
age = 25
dob = '17-dec-1998'
print("My name is {} and I am {} years old and dob is {}".format(name,age,dob))

My name is jaya and I am 25 years old and dob is 17-dec-1998

#### Python Operators

In [ ]:
+,-,*,/,%,//,pow

In [8]:
a = 10
b = 10
print(a+b)

20

In [12]:
a = 10
b = 10
print(a*b)
print(a/b)
print(a%b)
print(a//b)
pow(3,3,5)

100
1.0
0
1

2