## Map Filter and Reduce

In [3]:
# All 3 fuctions are same but approach id differnt,
# Map syntax = map (function_name,values)

def map_func(number):
    if number%2 == 0:
        return number

In [35]:
a = [10,23,30,40,50,60]
sol = map(map_func,a) # It displaya the memmory location
print(list(sol))  # list keyword pull out the res

[10, None, 30, 40, 50, 60]

In [7]:
# Find the even or odd number using map fuction

values = []
for i in range(1,21):
    values.append(i)
print(values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
def even_odd_num(n):
    if n % 2 == 0:
        return "even"
    else:
        return "odd"

In [14]:
sol = map(even_odd_num,values)
print(list(sol))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [3]:
#Lambda function

a = [10,20,30,40,50]
sol = map(lambda x : x > 10, a)
print(list(sol))

[False, True, True, True, True]

In [23]:
a = [10,20,30,40,50,60]
sol = list(map(lambda x: x > 10, a))
print(sol)

[False, True, True, True, True, True]

## Filter

In [36]:
def fil_fun(num):
    if num % 2 == 0:
        return num

In [37]:
b = [10,22,33,25,40,20]
sol = filter(fil_fun,b)
print(list(sol))

[10, 22, 40, 20]

In [2]:
# Lambda with filter

a = [10,20,30,40,50]
sol = list(filter(lambda x : x > 10, a))
print(sol)

[20, 30, 40, 50]

In [3]:
 a = [10,22,40,33,35,36]
sol = filter(lambda x : x + 20, a) # Filter function will not work for math operations like + , -,//,%
print(list(sol))

[10, 22, 40, 33, 35, 36]

## Reduce

In [5]:
from functools import reduce

In [8]:
a = [12,34,56,77,34,22,32,23,43,44,55]
sol = reduce(lambda x,y : x + y, a)
print(sol)

432

In [25]:
def reduce_func(num):
    if num % 2 == 0:
        return num

In [26]:
a = [12,34,56,77,34,22,32,23,43,44,55]
sol = reduce(reduce_func , a)
print(sol)

TypeError: reduce_func() takes 1 positional argument but 2 were given

In [1]:
# Filter with map

a = [12,34,56,77,34,22,32,23,43,44,55]
sol = map(lambda x : x + 10, filter(lambda x : x > 20 , a))
print(list(sol))

[44, 66, 87, 44, 32, 42, 33, 53, 54, 65]

In [3]:
 # Map with filter
    
a = [12,34,56,77,34,22,32,23,43,44,55]
sol = filter(lambda x : x > 20,map(lambda x : x + 10,a))
print(list(sol))

[22, 44, 66, 87, 44, 32, 42, 33, 53, 54, 65]

In [8]:
# Reduce with map and filter

a = [10,11,12,13]
sol = reduce(lambda x , y : x + y , filter(lambda x : x > 20 , map(lambda x : x + 10 , a)))
print(list(sol))

TypeError: 'int' object is not iterable

In [11]:
a = [10,11,12,13]
sol = reduce(lambda x , y : x + y , filter(lambda x : x > 20 , map(lambda x : x + 10 , a)))
print(sol)

66

In [15]:
for i in range(1,21):
    print(i,"good mroning")

1 good mroning
2 good mroning
3 good mroning
4 good mroning
5 good mroning
6 good mroning
7 good mroning
8 good mroning
9 good mroning
10 good mroning
11 good mroning
12 good mroning
13 good mroning
14 good mroning
15 good mroning
16 good mroning
17 good mroning
18 good mroning
19 good mroning
20 good mroning

## Comprehension Techniques

#### - `List comprehension`
#### - `Dictionary comprehension`

In [16]:
# Its is use to reduce the lines of code
# we work only with list and dictionary

## List comprehension

In [19]:
for i in range(1,21):
    print("good morning",end = ' ') # normal execution

good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning good morning

In [22]:
# The same method used by list comprehension

sol = [i for i in range(1,21)]
print(sol)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [27]:
# writing in one line code syntax [result for]

print([i for i in range(1,21)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [31]:
# Pure python code

for i in range(51,61):
    if i % 2 == 0:
        print(i, end = ' ')

52 54 56 58 60

In [34]:
# if your using for and if the sytax will be [result forloop ifcondition]

print([i for i in range(51,61) if i % 2 == 0])

[52, 54, 56, 58, 60]

In [36]:
# Print even or odd 

for i in range(51,61):
    if i % 2 == 0:
        print(i,"even",end = ' ')
    else:
        print(i,"odd",end = ' ')

51 odd 52 even 53 odd 54 even 55 odd 56 even 57 odd 58 even 59 odd 60 even

In [43]:
# if your using if else with for syntax will be [result ifcondition else forloop]

sol = ['even '+ str(i) if i % 2 == 0 else 'odd ' + str(i) for i in range(51,61)]
print(sol)

['odd 51', 'even 52', 'odd 53', 'even 54', 'odd 55', 'even 56', 'odd 57', 'even 58', 'odd 59', 'even 60']

## Dictionary comprehension

In [5]:
# Same sytax like list comprehension
# Normal python code

fruits = {'apple':300,'orange':150,'kiwi':240}
for i in fruits:
    fruits[i] = fruits[i] + 30
print(fruits)

{'apple': 330, 'orange': 180, 'kiwi': 270}

In [9]:
# Using comprehension

fruits = {'apple':250 ,'orange' : 100, 'kiwi' : 180}
sol = {i:j+30 for i,j in fruits.items()}
print(sol)

{'apple': 280, 'orange': 130, 'kiwi': 210}

In [1]:
fruits = {'apple':250 ,'orange' : 100, 'kiwi' : 180}
sol = {i: ('pass' if j > 160 else 'fail') for i,j in fruits.items()}
print(sol)

{'apple': 'pass', 'orange': 'fail', 'kiwi': 'pass'}

In [3]:
from function_power import math_operations

In [1]:
math_operations([23,10,14,67,90])

NameError: name 'math_operations' is not defined

In [6]:
# 7 tables 

n = 2
for i in range(1,11):
    print(n , '*' , i, '=',n*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [14]:
n = int(input("Eneter the number: "))
c = lambda x , y : n * i
for i in range(1,11):
    print(n , '*' , i, '=',c(n ,i ))
print(c)

Eneter the number: 25
25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250
<function <lambda> at 0x000001C014B41BD0>