## For loop

In [3]:
# Controlling the sattements using the for conditions.

for i in range(5): # range starting from 0 to 4(n-1)
    print("Good morning")

Good morning
Good morning
Good morning
Good morning
Good morning

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [9]:
# How to use 2 for loop where loop inside a loop

for i in range(1,6):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
5 1
5 2
5 3
5 4

In [15]:
for i in range(1,4):
    for j in range(3):
        print(i,'Data scientist')

1 Data scientist
1 Data scientist
1 Data scientist
2 Data scientist
2 Data scientist
2 Data scientist
3 Data scientist
3 Data scientist
3 Data scientist

In [19]:
# Loop with data structures
# Starting the loop with string

subject = 'data science'

for i in subject:
    print(i)

d
a
t
a

s
c
i
e
n
c
e

In [21]:
# Another example with the string

for i in 'python':
    for j in 'Data science':
        print(i,j)

p D
p a
p t
p a
p
p s
p c
p i
p e
p n
p c
p e
y D
y a
y t
y a
y
y s
y c
y i
y e
y n
y c
y e
t D
t a
t t
t a
t
t s
t c
t i
t e
t n
t c
t e
h D
h a
h t
h a
h
h s
h c
h i
h e
h n
h c
h e
o D
o a
o t
o a
o
o s
o c
o i
o e
o n
o c
o e
n D
n a
n t
n a
n
n s
n c
n i
n e
n n
n c
n e

In [23]:
# For loop with list

a = [10,20,30.4,'data']

for i in a:
    print(i)

10
20
30.4
data

In [30]:
a = [30,40,34.5,'python']
print(len(a))
for i in range(len(a)):
    print(a[i])

4
30
40
34.5
python

In [34]:
# For loop with sets

a = {'father','mother',1243,688}
for i in a:
    print(i)

mother
father
1243
688

In [38]:
# Loop with dictionary

a = {'father':62,'mother':57,'son':5,'husband':30}

for i in a.keys():
    print(i)

father
mother
son
husband

In [41]:
for i in a.values():
    print(i)

62
57
5
30

In [45]:
a = {'father':62,'mother':57,'son':5,'husband':30}

for i,j in a.items():
    print(a[j])

KeyError: 62

In [47]:
emp = {'kaveri':101,'preetham':203,'rithu':304,'deepa':566}
for i in emp.keys():
    print(i)

kaveri
preetham
rithu
deepa

In [49]:
emp = {'kaveri':101,'preetham':203,'rithu':304,'deepa':566}
for i in emp.values():
    print(i)

101
203
304
566

In [53]:
emp = {'kaveri':101,'preetham':203,'rithu':304,'deepa':566}
for i,j in emp.items():
    print(i)

kaveri
preetham
rithu
deepa

In [56]:
emp = {'kaveri':101,'preetham':203,'rithu':304,'deepa':566}

for i,j in emp.items():
    print(a[i])

KeyError: 'kaveri'

In [57]:
a = 'Data'

for i,j in enumerate(a): # Enumeration keyword will execute with both index and values
    print(i,j)

0 D
1 a
2 t
3 a

## if condition

In [2]:
a = 10
b = 20

if a > b:
    print(a, "a is greater")
else:
    print(b,"b is greater")

20 b is greater

In [6]:
#Print even number or not

for i in range(1,21):
    if i % 2 == 0:
        print(i,"even")

2 even
4 even
6 even
8 even
10 even
12 even
14 even
16 even
18 even
20 even

In [12]:
# Print vowels in datascience

a = 'data science'
c = ''
for i in a:
    if i not in 'aeiouAEIOU':
        c = c + i
print(c)

dt scnc

In [18]:
# Elif condition

marks = 57

if marks >= 60:
    print("First class")
elif marks > 35 and marks < 60:
    print("Second class")
elif marks == 35:
    print("pass")
else:
    print("fail")

Second class

In [24]:
# Break statement

for i in range(1,12):
    print(i)
    if i == 7:
        break
print("Good night")

1
2
3
4
5
6
7
Good night