### Tuples

In [2]:
# Tuples is one of the data structures in python
# Tuple is immutable ** we cannot change the behaviour of the varialble
# Tuples will be represented as ()

In [4]:
a = (10,34,23,7,'SQL')
print(a[4])

SQL

In [6]:
print(a)

(10, 34, 23, 7, 'SQL')

In [8]:
# Adding, delete and replace is not possible in tuples.

a = [10,34,12,9,'jaya']
b = tuple(a)
print(b)

(10, 34, 12, 9, 'jaya')

#### Tuples Methods

In [ ]:
## In tuples only 2 methods are used

#count
#index

In [10]:
a = (10,34,23,7,'SQL')
a.count(10)

1

In [12]:
a.index('SQL')

4